* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-1 {
    position: relative;
    height: 694px;
    padding: 0px;
    background: rgb(135, 169, 241);
}

.sticky-card1 {
    position: sticky;
    top: 0;
    background: rgb(13, 52, 138);
    color: white;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.content-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}


.section-2 {
    position: relative;
    height: 694px;
    padding: 0px;
    background: rgb(241, 135, 135);
}

.sticky-card2 {
    position: sticky;
    top: 0;
    background:rgb(168, 3, 3);
    color: white;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.content-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}


.section-3 {
    position: relative;
    height: 694px;
    padding: 0px;
    background: rgb(174, 241, 135);
}

.sticky-card3 {
    position: sticky;
    top: 0;
    background: rgb(35, 93, 2);
    color: white;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.content-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}


.section-4 {
    position: relative;
    height: 694px;
    padding: 0px;
    background: rgb(135, 241, 223);
}

.sticky-card4 {
    position: sticky;
    top: 0;
    background: rgb(1, 92, 77);
    color: white;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.content-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}