* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 65px;
}

.navbar img {
    margin-top: 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding-right: 20px;
    margin-top: 20px;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    min-height: auto;
    position: relative;
    width: 100%;
}

.left-side,
.right-side {
    flex: 1;
}

.left-side {
    flex: 1;
    background-color: rgb(77, 27, 123);
}

.left-side ul {
    list-style: none;
    padding: 20px;
}

.left-side ul li {
    margin: 10px;
    text-align: left;
}

.left-side ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.right-side {
    position: relative;
    flex: 4;
    padding-left: 5px;
    padding-top: 180px;
    border-top: 3px solid rgb(77, 27, 123);
}

.videos {
    position: absolute;
    top: 4px;
    display: flex;
    width: 100%;
}

.videos video {
    width: 33.15%;
    height: auto;
}

.text {
    position: relative;
    margin-top: 50px;
}

.footer {
    padding: 15px;
    width: 100%;
    height: 40px;
    background-color: rgb(109, 107, 107);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}