* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: white; 
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding-right: 20px;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.sideBar {
    background-color: blueviolet;
    width: 15vw;
    height: 100%;
}