* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;
}

.grid-container>div {
    border: 1px solid rgb(61, 60, 60);
}

.item1 {
    background: red;
}

.item2 {
    background: green;
}

.item3 {
    background: orange;
}

.item4 {
    background: purple;
}

.item5 {
    background: rgb(211, 40, 97);
}

.item6 {
    background: blue;
}

.item7 {
    background: brown;
}

.item8 {
    background: plum;
}

.item9 {
    background: rgb(86, 22, 145);
}

.item10 {
    background: yellow;
}

.item11 {
    background: rgb(98, 136, 145);
}

.item12 {
    background: rgb(3, 227, 243);
}