* {
    padding: 0;
    margin: 0;
}
.section {
    position: relative;
    min-height: 4000px;
}
.fixed-circle {
    position: fixed;
    background: transparent;
    width: 220px;
    height: 220px;
    border-radius: 50%;

    border: 25px solid rgb(77, 81, 80);
    outline: 15px solid rgb(120, 27, 27);
    outline-offset: -10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
}

.move-circle {
    position: absolute;
    background: rgb(244, 221, 19);
    width: 220px;
    height: 220px;
    border-radius: 50%;

    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.move-circle1 {
    position: absolute;
    background: rgb(191, 85, 103);
    width: 220px;
    height: 220px;
    border-radius: 50%;

    top: 150vh;
    left: 50%;
    transform: translate(-50%, -50%);

}

.move-circle2 {
    position: absolute;
    background: rgb(56, 99, 198);
    width: 220px;
    height: 220px;
    border-radius: 50%;

    top: 250vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.move-circle3 {
    position: absolute;
    background: rgb(237, 65, 219);
    width: 220px;
    height: 220px;
    border-radius: 50%;

    top: 350vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.move-circle4 {
    position: absolute;
    background: rgb(16, 214, 82);
    width: 220px;
    height: 220px;
    border-radius: 50%;

    top: 450vh;
    left: 50%;
    transform: translate(-50%, -50%);

}