* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

.grid-container>div {
    border: 1px solid rgb(61, 60, 60);
}

.item1 {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: red;
}

.item2 {
    background-color: green;
}

.item3 {
    grid-column: 4/5;
    grid-row: 1/4;
    background-color: #ff6200;
}

.item4 {
    background-color: purple;
}

.item5 {
    background: rgb(240, 93, 142);
}

.item6 {
    background: blue;
}

.item7 {
    background-color: brown;
}

.item8 {
    grid-column: 2/4;
    background: rgb(86, 22, 145);
}